<style type="text/css">
    <!--

    @media print
    {
        .noprint {display:none;}
    }

</style>
<div class="container">
    <div class="row">
        <div id="demo">
            <a class="btn btn-primary" data-bind="click: print">Print</a>
            <div id="tabs" style="display: none">
                <ul>
                    <!-- ko foreach: pivotTables -->
                    <li><a data-bind="attr: { href: '#' + id }" ><span data-bind="text: title"/></a></li>
                    <!-- /ko -->
                </ul>
                <!-- ko foreach: pivotTables -->
                <div class="report-container" data-bind="attr: { id: id }">
                    <p><div data-bind="html: html"></div></p>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>