
<div class="container">
    <div class="row">
        <div id="demo">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">Roads</a></li>
                    <li><a href="#tabs-2">Bridges</a></li>
                </ul>
                <div id="tabs-1">
                    <table cellpadding="0" cellspacing="0" border="0" id="example1" class="queryResults" width="100%"/>
                </div>
                <div id="tabs-2">
                    <table cellpadding="0" cellspacing="0" border="0" id="example2" class="queryResults" width="100%"/>
                </div>
            </div>
        </div>
    </div>
</div>